doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script.
            var config = !{JSON.stringify(config)}

    body
        #content
            h1= title
            p Welcome to #{title}

            #map
            script.
                var markers = !{JSON.stringify(markers)}
            script(src='/javascripts/map_setup.js')

            script.
            script(src='https://maps.googleapis.com/maps/api/js?key='+config.maps_api_key+'&callback=initMap')